*{
    margin: 0;
padding: 0;
    box-sizing: border-box;

}
html,body{
    height:100%;
    width:100%;
align-items: center;


}
.parent{
    border:2px solid red;
    height:500px ;
    width:60%;
    margin:20px auto;
    /* position: relative; */
display:grid;
/* grid-template-columns:repeat(2,1fr) 2fr 1fr; */
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-template-rows:repeat(3,1fr);


}
.box{
    /* width: 100px;
    height: 100px; */
    border: 1px solid black;
    /* position:absolute */
    /* justify-items: center;
    place-items: center; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* display:grid;
    place-items: center; */

}

#box1{
    background-color:lightblue;
    /* grid-column-start: 1;
    grid-column-end:5; */
    /* position: relative; */
    /* top:20px; */
    /* left:50px; */
    /* z-index: 1; */
}
#box2{
    background-color:lightgreen;
    /* grid-row-start: 2;
    grid-row-end:4;
    grid-row:2/4 */
    /* grid-column:1/5; */
    /* z-index: 1; */
    /* position: absolute;
    top:50px;
    left:20px;
    transform:translate(50px, 50px); */
    

}
#box3{
    background-color:lightcoral;
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:4; */
     /* position: fixed; 
    top:200px; 
    /* left:500px;      */
    /* z-index: 0; */
} */

#box4{
    background-color:rgb(139, 139, 50);
    /* grid-column-start: 5;
    grid-column-end:6; */
    /* position: sticky;
    top:20%;
    margin-top:150px; */
}

