/* p{
    background-color: red;
}

#para1{
    
    background-color: bisque;
}

#para2{
    background-color: lightgreen;
}

.bg{
    background-color: lightblue;
} */




section{
    height: 100vh;
   
    background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sec1{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/19746794/pexels-photo-19746794.jpeg");
background-attachment: fixed;
}
 #sec2{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/34183966/pexels-photo-34183966.jpeg");
    background-attachment: fixed;
    }